@font-face {
    font-display: swap;
    font-style: normal;
    src: url("/fonts/KantumruyProMedium.ttf");
    font-family: "Kantumruy Pro";
    font-weight: 500;
  }
  
  @font-face {
    font-display: swap;
    font-style: normal;
    src: url("/fonts/KantumruyProLight.ttf");
    font-family: "Kantumruy Pro";
    font-weight: 300;
  }
  
  @font-face {
    font-display: swap;
    font-style: normal;
    src: url("/fonts/KantumruyProSemiBold.ttf");
    font-family: "Kantumruy Pro";
    font-weight: 600;
  }
  