@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        /*-----Color variables------*/
        --black_900: #000000;
        --black_900_01: #000000;
        --black_900_3f: #0000003f;
        --blue_gray_100: #d9d9d9;
        --gray_100: #e6e6e6;
        --gray_400: #c6c6c6;
        --gray_500: #979797;
        --gray_600: #a1a1a1;
        --white_a700: #ffffff;
    }

    [type="text"],
    input:where(:not([type])),
    [type="email"],
    [type="url"],
    [type="password"],
    [type="number"],
    [type="date"],
    [type="datetime-local"],
    [type="month"],
    [type="search"],
    [type="tel"],
    [type="time"],
    [type="week"],
    [multiple],
    textarea,
    select {
        appearance: none;
        background-color: transparent;
        border-color: unset;
        border-width: 0;
        border-radius: unset;
        padding: unset;
        font-size: unset;
        line-height: unset;
    }

    /* Override default focus colors for tailwindcss-forms https://github.com/tailwindlabs/tailwindcss-forms */
    [type="text"]:focus,
    [type="email"]:focus,
    [type="url"]:focus,
    [type="password"]:focus,
    [type="number"]:focus,
    [type="date"]:focus,
    [type="search"]:focus,
    [multiple]:focus,
    textarea:focus,
    select:focus {
        --tw-ring-color: transparent;
        border-color: transparent;
    }

    [type="radio"]:focus,
    [type="checkbox"]:focus {
        --tw-ring-color: transparent;
    }
}

@layer components {

    /*------------------------------ 
      Container CSS 
  -------------------------------*/
    .container-xs {
        @apply w-full mx-auto max-w-[1920px];
    }
}